<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
    <nb-card-header>List of Admin Role</nb-card-header>
  
    <nb-card-body>
   <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <label>Login ID</label>
          <auto-completen addclass="form-control" optValues="loginid" [(ngModel)]="loginid" name="loginid"
          placeholder="Select Name" optId="id" [item]="getfullnamel">
        </auto-completen>
        </div>
      </div>
      </div>
      <button type="button" class="btn btn-md btn-success" (click)="page = 1; initiallist()"
        style="margin: auto; display: block ; text-align: center;margin-top:5px ; margin-bottom: 5px;">
        Search
      </button>
  
  
  
  
  
  
      <table class="table">
        <tr>
          <th *ngIf="role.getroleid() > 777  || !role.getmenurole(2003)">Action</th>
          <th>Name</th>
          <th>Login Id</th>
          <th>Role Type</th>
  
        </tr>
        <tr *ngFor="let item of pagedItems">
          <td *ngIf="role.getroleid() > 777  || !role.getmenurole(2003)"><a (click)='edit(item);'><i class="nb-edit"></i></a></td>
          <td>{{item.fname}}</td>
          <td>{{item.loginid}}</td>
          <td>{{item.rolename}}</td>
  
        </tr>
      </table>
    </nb-card-body>
  </nb-card>