<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
    <nb-card-header>List User</nb-card-header>
    <nb-card-body>
        <button *ngIf="role.getroleid() > 777" style="margin-bottom: 1%;" [hidden] status="success" nbButton [routerLink]="['/pages/admin/add-user']">Add User</button>
        <table class="table">
            <tr>
                <th *ngIf="role.getroleid() > 777">Action</th>
                <th>Login Id</th>
                <th>Full Name</th>
                <th>Mobile No</th>
                <th>Email ID</th>
                <th>Address</th>
            </tr>
            <tr *ngFor="let item of pagedItems">
                <td  *ngIf="role.getroleid() > 777" style="cursor:pointer;" [routerLink]="['/pages/admin/edit-user']" [queryParams]="{id:item.id}"><i
                        class="nb-edit"></i></td>
                <td>{{item.loginid}}</td>
                <td>{{item.fname}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.email}}</td>
                <td>{{item.address}}</td>
            </tr>
        </table>
    </nb-card-body>
</nb-card>