<div class="modal-header">
   <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
         </button>
 </div>
 <form [formGroup]="changePassword" (ngSubmit)="changepaswd()">
    <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
             <label>Password<span style="color: red">*</span></label>
                <input name="Password" placeholder="Enter Password" formControlName="Password" type="password"
                class="form-control" [ngClass]="{'is-invalid':submit && this.changePassword.controls.Password.errors}" />
                <small *ngIf=" this.changePassword.controls.Password.errors &&this.changePassword.controls.Password.errors.required && submit
              " class="invalid-feedback">Password is required!
            </small>
             <small *ngIf="changePassword.hasError('pattern','Password')&&submit" class="error-text">
                <span>Use 8 or more Characters with a mix of <br>
                   [A-Z],[a-z] letters, numbers & symbols!</span>  
             </small>
          </div>
       </div>
       <div class="form-group row">
          <div class="col-sm-12">
             <label>Confirm Password<span style="color: red">*</span></label>
                <input name="CPassword" placeholder="Enter Password" formControlName="CPassword" type="password"
                class="form-control" 
                [ngClass]="{'form-control':true,'form-control-danger':changePassword.value['Password']!=changePassword.value['CPassword']}" />
                <small *ngIf="changePassword.value['Password']!=changePassword.value['CPassword']" class="error-text">Password
                does not match! </small>
 
          </div>
       </div>
    </div>
    <div class="modal-footer">
       <button type="submit" status="success" nbButton>Update</button>
    </div>
 </form>