<nb-card>
    <nb-card-body>
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="stateForm" class="form-horizontal" (ngSubmit)="Country();">
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-12">
              <label>State <span style="color:red">*</span></label>
              <input type="text" class="form-control" name="state_name" formControlName="state_name"
                placeholder="Enter State"
                [ngClass]="{ 'is-invalid': submit && stateForm.controls.state_name.errors }" />
              <small
                *ngIf="stateForm.controls.state_name.errors &&(stateForm.controls.state_name.errors.required )&& submit"
                class="invalid-feedback">state Name is required! </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" status="success" nbButton style="cursor:pointer">Add</button>
          <button type="button" status="danger" nbButton style="cursor:pointer" (click)="close()">Cancel</button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>