<nb-card>
    <nb-card-body>
        <div class="modal-header">
            <h4 class="modal-title">{{ title }}</h4>
            <button class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addserialform" class="form-horizontal" (ngSubmit)="addserialnof()">
            <div class="modal-body">
                <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Select Serial No<span style="color: red">*</span></label>
                            <auto-completen [addclass]="{ error: submit && this.addserialform.controls.model_sid.errors }"
                             addclass="form-control" optValues="serial_num" formControlName="model_sid" (keyUp)="getserialnofu()"
                              placeholder='Select Serial No' optId="model_sid" [item]="getno1">
                            </auto-completen>
                            <div
                              *ngIf="this.addserialform.controls.model_sid.errors && (this.addserialform.controls.model_sid.errors.required) && submit"
                              class="error-text">
                              Serial No is required!
                            </div>
                      </div>
</div>
            </div>
            <div class="modal-footer">
                <button type="submit"  status="success" nbButton>Add</button>
                <button type="button"  status="danger" nbButton  (click)="close()">
                    Cancel
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>