<div class="col-md-12">
   <nb-card>
     <nb-card-header>Edit Profile</nb-card-header>
     <nb-card-body>
       <form [formGroup]="edituserrole" class="form-horizontal" (ngSubmit)="AddProfile();">
         <nb-tabset>
           <nb-tab tabTitle="Profile Details">
             <div class="modal-body">
               <div class="form-group row">
                 
                   
                 <div class="col-sm-6" *ngIf="role.getroleid() > 888">
                     <label> Business Name<span style="color: red">*</span></label>
                     <auto-completen [addclass]="{
                           error: submit && this.edituserrole.controls.bid.errors
                         }" addclass="form-control" optValues="bname"  formControlName="bid" (keyUp)="getBusiness()"
                       placeholder="Select Business Name" Id="id" [item]="getbuss">
                     </auto-completen>
                     <div *ngIf="
                           this.edituserrole.controls.bid.errors &&
                           this.edituserrole.controls.bid.errors.required &&
                           submit
                         " class="error-text">
                       Business Name is required!
                     </div>
                   </div>


                   <!-- <div class="col-sm-6">
                     <label>User Type<span style="color:red">*</span></label>
                     <select name="urole" formControlName="urole" class="form-control"  style="   background-color:white !important;"
                         [ngClass]="{ 'is-invalid': submit && edituserrole.controls.urole.errors }">
                         <option value=""> Select UserType</option>
                         <option value="999">Developer</option>
                         <option value="888">Admin</option>
                         <option value="777">Admin Employee</option>
                     </select>
                     <small
                         *ngIf="edituserrole.controls.urole.errors &&(edituserrole.controls.urole.errors.required )&& submit"
                         class="invalid-feedback">urole is required! </small>
                 </div> -->


                 <div class="col-sm-6">
                  <label>User Type<span style="color:red">*</span></label>
                  <auto-completen [addclass]="{
                   error: submit && this.edituserrole.controls.urole.errors
                 }" addclass="form-control" optValues="rolename"  formControlName="urole" (keyUp)="editRole()"
               placeholder="Select User Type" optId="role" [item]="editumenu">
             </auto-completen>
                      <div *ngIf="
                      this.edituserrole.controls.urole.errors &&
                      this.edituserrole.controls.urole.errors.required &&
                      submit
                    " class="error-text">
                  Business Name is required!
                </div>
              </div>



               
             </div>
             <div class="form-group row">


                 <div class="col-sm-6">
                     <label>Username<span style="color:red">*</span></label>
                     <input type="text" status="loginid" class="form-control" name="loginid" formControlName="loginid"
                        placeholder=" Enter Username"
                        [ngClass]="{ 'is-invalid': submit && this.edituserrole.controls.loginid.errors }" />
                     <small
                        *ngIf="this.edituserrole.controls.loginid.errors && (this.edituserrole.controls.loginid.errors.required) && submit"
                        class="invalid-feedback">Login id is required! </small>
                  </div>


                <div class="col-sm-6">
                   <label>Password<span style="color:red">*</span></label>
                   <input [readonly]="true"  type="password" status="pwd" class="form-control" name="pwd" formControlName="pwd"
                      placeholder=" Enter Password "
                      [ngClass]="{ 'is-invalid': submit && this.edituserrole.controls.pwd.errors }" />
                   <small
                      *ngIf="this.edituserrole.controls.pwd.errors && (this.edituserrole.controls.pwd.errors.required) && submit"
                      class="invalid-feedback">Password required! </small>
                </div>

               
             </div>
             <div class="form-group row">


                


                 <div class="col-sm-6">
                     <label>Full Name<span style="color:red">*</span></label>
                     <input type="text" status="fname" class="form-control" name="fname" formControlName="fname"
                        placeholder=" Enter Full Name "
                        [ngClass]="{ 'is-invalid': submit && this.edituserrole.controls.fname.errors }" />
                     <small
                        *ngIf="this.edituserrole.controls.fname.errors && (this.edituserrole.controls.fname.errors.required) && submit"
                        class="invalid-feedback">Full Name is required! </small>
                  </div>
                <div class="col-sm-6">
                   <label>Email ID<span style="color:red">*</span></label>
                   <input type="text" class="form-control" formControlName="email"
                      placeholder="Enter Mail id"
                      [ngClass]="{ 'is-invalid': submit && this.edituserrole.controls.email.errors }" />
                   <small
                      *ngIf="this.edituserrole.controls.email.errors && (this.edituserrole.controls.email.errors.required) && submit"
                      class="invalid-feedback">Mail id is required! </small>
                </div>
             </div>
             <div class="form-group row">
                
                 <div class="col-sm-6">
                     <label>Mobile NO<span style="color:red">*</span></label>
                     <input type="number" status="mobile" class="form-control" name="mobile" formControlName="mobile"
                        placeholder=" Enter Mobile No "
                        [ngClass]="{ 'is-invalid': submit && this.edituserrole.controls.mobile.errors }" />
                     <small
                        *ngIf="this.edituserrole.controls.mobile.errors && (this.edituserrole.controls.mobile.errors.required) && submit"
                        class="invalid-feedback">Mobile is required! </small>
                  </div>


                <div class="col-sm-6">
                   <label>Address<span style="color:red">*</span></label>
                   <textarea maxlength="50" type="text" class="form-control" formControlName="address"
                      placeholder="Enter Address"
                      [ngClass]="{ 'is-invalid': submit && this.edituserrole.controls.address.errors }" >
                      </textarea>
                   <small
                      *ngIf="this.edituserrole.controls.address.errors && (this.edituserrole.controls.address.errors.required) && submit"
                      class="invalid-feedback">Address is required! </small>
                </div>
             </div>
          </div>
               

             
               




             <!-- </div> -->
           </nb-tab>
           <nb-tab tabTitle="Profile Role">
             <div class="modal-body">
               <div style="padding-left: 5%;">
               <tree-root #tree [nodes]="nodes" [options]="options"></tree-root>
             </div>
             </div>
           </nb-tab>
         </nb-tabset>
         <div class="modal-footer">
           <button type="submit" class="btn btn-md btn-success">Update</button>
           <button type="button" class="btn btn-md btn-danger"
             [routerLink]="['/pages/admin/list-user']">Back</button>
         </div>
       </form>
     </nb-card-body>
   </nb-card>
 </div>