
<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
    <nb-card-header>List HUB</nb-card-header>
    <nb-card-body>
      <button *ngIf="role.getroleid() > 888  || !role.getmenurole(1007)"  status="success" nbButton  style="margin-bottom: 1%;"
        [routerLink]="['/pages/Geo-details/add-hub']">Add HUB</button>
     
      <table class="table">
        <tr>
          <th *ngIf="role.getroleid() > 888  || !role.getmenurole(1009)">Action</th>
        
          <th>Bussiness Name</th>
          <th>Department Name</th>
          <th>HUB Name</th>
          <th>Initiate Name</th>
          <th>Mobila No</th>
          <th>Address</th>
          <th>Description Name</th>
        </tr>
        <tr *ngFor="let item of pagedItems">
          <!-- <td *ngIf="role.getroleid() > 888  || !role.getmenurole(1009)" style="cursor:pointer;" [routerLink]="['/pages/Geo-details/add-hub']" [queryParams]="{id:item.hbid}"><i class="nb-edit"></i></td> -->
        
          <div class="form-group">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-bs-toggle="dropdown">
                Action
              </button>
              <div class="dropdown-menu" style="min-width: 0rem" style="color: none !important; 
               text-decoration: none !important;">
                <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/pages/Geo-details/add-hub']" [queryParams]="{id:item.hbid}">
                  <i title="Edit Complaint" class="far fa-edit"></i>&nbsp;Edit
                </a>
                <a class="dropdown-item" (click)="addserialno(item)">
                  <i class="far fa-edit" title="Edit Complaint"
                  ></i>&nbsp;ADD Serial NO
                </a>
              </div>
            </div>
          </div>
          <td>{{item.bname}}</td>
          <td>{{item.depname}}</td>
          <td>{{item.hubname}}</td>
          <td>{{item.hubincname}}</td>
          <td>{{item.hubmobile}}</td>
          <td>{{item.hubaddr}}</td>
          <td>{{item.descs}}</td>
        </tr>
      </table>

      
      <div class="pagination">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
          <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
            (click)="getlist(page);">{{page}}</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
            (click)="page=pager.totalPages;getlist();">Last</a>
        </ul>
      </div>
    </nb-card-body>
  </nb-card>