
<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
    <nb-card-header>List HUB</nb-card-header>
    <nb-card-body>
      <!-- <toaster-container></toaster-container> -->
      <div class="row"  style="margin-bottom: 1%;">
        <div >
          <button *ngIf="role.getroleid() > 888  || !role.getmenurole(1007)" status="success" nbButton (click)="addhub()">Add Hub</button>
        </div>
      </div>
     
      <table class="table">
        <tr>
          <th *ngIf="role.getroleid() > 888  || !role.getmenurole(1009)">Action</th>
          <th>HUB Name</th>
          <th>Description Name</th>
        </tr>
        <tr *ngFor="let item of pagedItems">
          <td *ngIf="role.getroleid() > 888  || !role.getmenurole(1009)"><a (click)="edithub(item.hbid);" title="Update"><i class="nb-edit"></i></a></td>
          <td>{{item.hubname}}</td>
          <td>{{item.descs}}</td>
        </tr>
      </table>

      
      <div class="pagination">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
          <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
            (click)="getlist(page);">{{page}}</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
            (click)="page=pager.totalPages;getlist();">Last</a>
        </ul>
      </div>
    </nb-card-body>
  </nb-card>