
<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
    <!-- <nb-card-header>List HUB</nb-card-header> -->
    <nb-card-header>List HUB<a class="right" (click)="search=!search">Advanced Search</a></nb-card-header>
    <nb-card-body>
      <button *ngIf="role.getroleid() > 888  || !role.getmenurole(8001)"  status="success" nbButton  style="margin-bottom: 1%;"
        [routerLink]="['/pages/Geo-details/add-hub']">Add HUB</button>
     
        <form [hidden]='!search' class="form-horizontal">
          <div class="modal-body">
        
          <div class="row">
        
            <div class="col-sm-4" *ngIf="role.getroleid() > 888 ">
              <label> Business Name<span style="color: red">*</span></label>
              <auto-completen  addclass="form-control" optValues="bname"  [(ngModel)]= "busid" (keyUp)="getBusiness($event)" name="busid"
              (changed)="changebusiness();getdepf();gethubf()"  placeholder="Select Business Name" Id="id" [item]="getbuss">
              </auto-completen>
            </div>
          
            <div class="col-sm-4" >
              <label>Department Name <span style="color: red">*</span></label>
              <auto-completen addclass="form-control" optValues="depname"  [(ngModel)]= "depart"  name="depart"  (keyUp)="getdepf($event)"
                placeholder="Select Department Name" Id="id" [item]="getdepartment">
              </auto-completen>
            </div>
        
        
            <div class="col-sm-4" >
              <label>HUB Name <span style="color: red">*</span></label>
              <auto-completen addclass="form-control" optValues="hubname"  [(ngModel)]= "hub"  name="hub" 
                placeholder="Select Mobile NO" optId="hbid" [item]="gethub">
              </auto-completen>
            </div>
          </div>
         
        
        
        <br>
          <button type="button" class="btn btn-md btn-success" (click)='initiallist();'
          style="margin: auto; display: block;">Search</button>
        
        </div>
        </form>





        <h6> Total Record : {{count}}</h6> 


      <table class="table">
        <tr>
          <th *ngIf="role.getroleid() > 888  || !role.getmenurole(8003)">Action</th>
        
          <th *ngIf="role.getroleid() > 888">Bussiness Name</th>
          <th>Department Name</th>
          <th>HUB Name</th>
          <th>Initiate Name</th>
          <th>Mobila No</th>
          <th>Address</th>
          <th>Description Name</th>
        </tr>
        <tr *ngFor="let item of pagedItems">        
          <div class="form-group"  *ngIf="role.getroleid() > 888  || !role.getmenurole(8003)">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-bs-toggle="dropdown">
                Action
              </button>
              <div class="dropdown-menu" style="min-width: 0rem" style="color: none !important; 
               text-decoration: none !important;">
                <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/pages/Geo-details/add-hub']" [queryParams]="{id:item.hbid}">
                  <i title="Edit Complaint" class="far fa-edit"></i>&nbsp;Edit
                </a>
                <a class="dropdown-item" (click)="addserialno(item)">
                  <i class="far fa-edit" title="Edit Complaint"
                  ></i>&nbsp;ADD Serial NO
                </a>
              </div>
            </div>
          </div>
          <td *ngIf="role.getroleid() > 888">{{item.bname}}</td>
          <td>{{item.depname}}</td>
          <td>{{item.hubname}}</td>
          <td>{{item.hubincname}}</td>
          <td>{{item.hubmobile}}</td>
          <td>{{item.hubaddr}}</td>
          <td>{{item.descs}}</td>
        </tr>
      </table>

      
      <div class="pagination">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;getlist();">First</a>
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;getlist();">Previous</a>
          <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
            (click)="getlist(page);">{{page}}</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;getlist();">Next</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
            (click)="page=pager.totalPages;getlist();">Last</a>
        </ul>
      </div>
    </nb-card-body>
  </nb-card>