<div class="col-md-12">
  <nb-card>
    <nb-card-header>Edit Role</nb-card-header>
    <nb-card-body>
      <form [formGroup]="editmenurole" class="form-horizontal" (ngSubmit)="updatemenu();">
        <nb-tabset>
          <nb-tab tabTitle="Profile Details">
            <div class="modal-body">
              <div class="form-group row">
            
                <div class="col-sm-6">
                  <label>Role Name  <span style="color:red">*</span></label>
                  <input type="text" class="form-control" name="urole" formControlName="urole"
                      placeholder="Enter urole NO"
                      [ngClass]="{ 'is-invalid': submit && editmenurole.controls.urole.errors }" />
                  <small
                      *ngIf="editmenurole.controls.urole.errors &&(editmenurole.controls.urole.errors.required )&& submit"
                      class="invalid-feedback">Role No is required! </small>
              </div>


</div>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label>Description</label>
                    <textarea name="descr" formControlName="descr" type="text" class="form-control"
                      placeholder="Description" maxlength="200"></textarea>
                  </div>
                </div>


              
         
      
       
            
           
            
         </div>
          </nb-tab>
          <nb-tab tabTitle="Profile Role">
            <div class="modal-body">
              <div style="padding-left: 5%;">
              <tree-root #tree [nodes]="nodes" [options]="options"></tree-root>
            </div>
            </div>
          </nb-tab>
        </nb-tabset>
        <div class="modal-footer">
          <button type="submit" class="btn btn-md btn-success">ADD</button>
          <button type="button" class="btn btn-md btn-danger"
            [routerLink]="['/pages/admin/list-admin']">Back</button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>