

.error {
    border-color: red;
  }
  .error-text {
      font-size: x-small;
      color: red;
  }
  

//   nb-card-body{
//     margin: auto;
//     height: 900% !important;
// } 

nb-card-body{
    flex: none !important;
    height: 450px  !important;
  }